.container
{
    padding-left:0px;
    padding-right:0px;
    margin-left:0px;
    margin-right:0px;
    width: 500px;
    overflow:hidden;
}

.sidebar
{
    width:300px;
    height:500px;
    float:left;
    top:0px;
    left:0px;
    bottom:0px;
    background-color:#aaaaaa;
}

.content
{
    bottom:0px;
    height:500px;
    width:100%;
}

#swarm_canvas
{
    background-color:#dddddd;
    position:fixed;
    float:left;
    height:500px;
    width:500px;    

}

.sp-picker-container{
    width:295px;
}