<div class="container">
        <div class="sidebar">
        	<div class="input-group">
        		<span class="input-group-addon">Y</span>
        		<input type='text' id='x' class="form-control"></input>
        	</div>
        	<div class="input-group">
        		<span class="input-group-addon">X</span>
        		<input type='text' id='y' class="form-control"></input>
        	</div>
        	<div class="input-group">
        		<span class="input-group-addon">Button</span>
        		<input type='text' id='button' class="form-control"></input>
        	</div>
        </div>
        <div class="content">
        	<canvas id="swarm_canvas">
        	</canvas>
        </div>
</div>