 <div class="sidebar" ng-controller="SwarmsController">
  

Swarm Spread: <div ng-model="swarmSpread" id="swarm_spread_slider"></div>{{swarmSpread}}
<hr/>

Particle Draw Size: <div ng-model="particleDrawSize" id="particle_draw_size_slider"></div>{{particleDrawSize}}
<hr/>

Particle Count: <div ng-model="particleCount" id="particle_count_slider"></div>{{particleCount}}
<hr/>

Particle Max Velocity: <div ng-model="particleMaxVelocity" id="particle_max_velocity"></div>{{particleMaxVelocity}}
<hr/>
  <input type='text' id="color_select" />

</div>
<div class="content">
  <canvas id="swarm_canvas">
  </canvas>
</div>